modules = ["python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["docker"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Ubuntu Desktop VNC"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "ubuntu-desktop-vnc"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Ultimate VNC System"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "OneClickDesktop Replit"

[[workflows.workflow]]
name = "Ubuntu Desktop VNC"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./setup.sh && ./start.sh"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "vnc"

[[workflows.workflow]]
name = "ubuntu-desktop-vnc"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./setup.sh && ./start.sh"

[[workflows.workflow]]
name = "Ultimate VNC System"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./ultimate_start.sh"
waitForPort = 5000

[[workflows.workflow]]
name = "OneClickDesktop Replit"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./run_oneclick.sh"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 6080
externalPort = 3000
